<div class="post-header">
  <div class="post-header">
    <div class="media">
      <div class="user-img">
        <%= avatar_for status.profile %>
      </div>
      <div class="media-body">
        <div class="user-title">
          <%= link_to status.profile.full_name, status.profile %>
          <%# <i class="icofont-check"></i> %>
          <%# posted to his <a href="#">Coworkers</a> circle  %>
        </div>
        <ul class="entry-meta">
          <li class="meta-privacy"><i class="icofont-world"></i> Public</li>
          <li class="meta-time"><%= time_ago_in_words(status.created_at) %> ago</li>
        </ul>
      </div>
    </div>
  </div>
  <%= dropdown items_tag: nil, alignment: :end do |dd| %>
    <% dd.item 'Edit', '#' %>
    <% dd.item do%>
      <%= link_to 'Delete', [current_profile, status], class: 'dropdown-item', data: { turbo_method: :delete } %>
    <% end %>
  <% end %>
</div>
