<div class="widget widget-groups">
  <div class="widget-heading">
    <h3 class="widget-title">Circles</h3>
    <%= dropdown items_tag: nil do|dd| %>
      <%= dd.trigger '...' %>
      <%= dd.item 'Edit', '#' %>
      <%= dd.item 'Delete', '#' %>
    <% end %>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#active-group" role="tab" aria-selected="true">ACTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#popular-group" role="tab" aria-selected="false">POPULAR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#newest-group" role="tab" aria-selected="false">NEWEST</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="active-group" role="tabpanel">
      <div class="group-list">
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_9.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Close Relatives</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_10.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Close Friends</a></h4>
            <div class="item-member">4,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_11.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Coworkers</a></h4>
            <div class="item-member">1,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_12.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Acquaintances</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="popular-group" role="tabpanel">
      <div class="group-list">
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_9.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Kito Development</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_10.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Chef Express</a></h4>
            <div class="item-member">4,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_11.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Photo Contest</a></h4>
            <div class="item-member">1,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_12.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">WP Developers</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="newest-group" role="tabpanel">
      <div class="group-list">
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_9.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Kito Development</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_10.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Chef Express</a></h4>
            <div class="item-member">4,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_11.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">Photo Contest</a></h4>
            <div class="item-member">1,265 Members</div>
          </div>
        </div>
        <div class="media">
          <div class="item-img">
            <a href="#">
              <%= image_tag '/media/groups/groups_12.jpg' %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="item-title"><a href="#">WP Developers</a></h4>
            <div class="item-member">265 Members</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
