<header class="fixed-header">
  <div class="header-menu">
    <div class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand">
          <%= image_tag "/media/logo.png" %>
        </a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link active">Home</a>
          </li>
        </ul>

        <div class="header-control">
          <form class="inline-item d-flex">
            <div class="inline-item input-group">
              <input type="text" class="form-control" placeholder="Search here.......">
              <div class="input-group-append">
                <button class="submit-btn" type="button"><i class="icofont-search"></i></button>
              </div>
            </div>
          </form>

          <ul class="inline-item navbar-nav">
            <%= render 'shared/friend_requests_dropdown', notifications: [] %>
            <%= render 'shared/chat_messages_dropdown', notifications: [] %>
            <%= render 'shared/notifications_dropdown', notifications: [] %>
          </ul>

          <ul class="navbar-nav inline-item header-control">
            <li class="dropdown dropdown-admin">
              <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="media">
                  <span class="item-img">
                    <%= image_tag "https://api.dicebear.com/7.x/micah/jpg?seed=Dexter-Morgan" %>
                    <span class="acc-verified"><i class="icofont-check"></i></span>
                  </span>
                  <span class="media-body">
                    <span class="item-title">Dexter</span>
                  </span>
                </span>
              </button>
              <div class="dropdown-menu">
                <ul class="admin-options">
                  <li class="dropdown-item">
                    <a href="#">
                      <i class="icofont-ui-user"></i>
                      Profile Settings
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a href="#">
                      <i class="icofont-ui-settings"></i>
                      Settings
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a href="user-groups.html">
                      <i class="icofont-ui-user-group"></i>
                      Circles
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a href="contact.html">
                      <i class="icofont-support-faq"></i>
                      Contact & Support
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <%# <a href="logout.html"> %>
                    <%#   <i class="icofont-logout"></i> %>
                    <%#   Logout %>
                    <%# </a> %>
                    <%= link_to session_path, data: { turbo_method: :delete } do %>
                      <i class="icofont-logout"></i>
                      Log out
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
