<header class="fixed-header">
  <div class="header-menu">
    <div class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container-fluid">
        <a href="index.html" class="navbar-brand">
          <%= image_tag "/media/logo.png" %>
        </a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link active">Home</a>
          </li>
        </ul>

        <div class="header-control">
          <form class="inline-item d-flex">
            <div class="inline-item input-group">
              <input type="text" class="form-control" placeholder="Search here.......">
              <div class="input-group-append">
                <button class="submit-btn" type="button"><i class="icofont-search"></i></button>
              </div>
            </div>
          </form>

          <ul class="inline-item navbar-nav">
            <li class="nav-item dropdown dropdown-friend">
              <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icofont-users-alt-4"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="item-heading">
                  <h6 class="heading-title">Friend Requests</h6>
                  <div class="heading-btn">
                    <a href="#">Settings</a>
                    <a href="#">Mark all as Read</a>
                  </div>
                </div>
                <div class="item-body">
                  <div class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/chat_5.jpg" %>
                      <span class="chat-status offline"></span>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title"><a href="#">Lily Zaman</a></h6>
                      <p>4 in mutual friends</p>
                      <div class="btn-area">
                        <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                        <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/chat_1.jpg" %>
                      <span class="chat-status online"></span>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title"><a href="#">Ketty Rose</a></h6>
                      <p>3 in mutual friends</p>
                      <div class="btn-area">
                        <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                        <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/chat_8.jpg" %>
                      <span class="chat-status online"></span>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title"><a href="#">Rustom vai</a></h6>
                      <p>6 in mutual friends</p>
                      <div class="btn-area">
                        <a href="#" class="item-btn"><i class="icofont-plus"></i></a>
                        <a href="#" class="item-btn"><i class="icofont-minus"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">View All Friend Request</a>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown dropdown-message">
              <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icofont-speech-comments"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="item-heading">
                  <h6 class="heading-title">Message</h6>
                  <div class="heading-btn">
                    <a href="#">Settings</a>
                    <a href="#">Mark all as Read</a>
                  </div>
                </div>
                <div class="item-body">
                  <a href="#" class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/notifiy_1.png" %>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Diana Jameson</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/notifiy_2.png" %>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Quirty</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <%= image_tag "/media/figure/notifiy_3.png" %>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Zinia Jessy</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">View All Messages</a>
                </div>
              </div>
            </li>

            <li class="nav-item d-flex align-items-center">
              <div class="dropdown dropdown-notification">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="icofont-notification"></i><span class="notify-count">3</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="item-heading">
                    <h6 class="heading-title">Notifications</h6>
                    <div class="heading-btn">
                      <a href="#">Settings</a>
                      <a href="#">Mark all as Read</a>
                    </div>
                  </div>
                  <div class="item-body">
                    <a href="#" class="media">
                      <div class="item-img">
                        <%= image_tag "/media/figure/notifiy_1.png" %>
                      </div>
                      <div class="media-body">
                        <h6 class="item-title">Diana Jameson</h6>
                        <div class="item-time">15 mins ago</div>
                        <p>when are nknowen printer took galley of types ...</p>
                      </div>
                    </a>
                    <a href="#" class="media">
                      <div class="item-img">
                        <%= image_tag "/media/figure/notifiy_2.png" %>
                      </div>
                      <div class="media-body">
                        <h6 class="item-title">Quirty</h6>
                        <div class="item-time">15 mins ago</div>
                        <p>when are nknowen printer took galley of types ...</p>
                      </div>
                    </a>
                    <a href="#" class="media">
                      <div class="item-img">
                        <%= image_tag "/media/figure/notifiy_3.png" %>
                      </div>
                      <div class="media-body">
                        <h6 class="item-title">Zinia Jessy</h6>
                        <div class="item-time">15 mins ago</div>
                        <p>when are nknowen printer took galley of types ...</p>
                      </div>
                    </a>
                  </div>
                  <div class="item-footer">
                    <a href="#" class="view-btn">View All Notification</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          
          <ul class="navbar-nav inline-item header-control">
            <li class="dropdown dropdown-admin">
              <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="media">
                  <span class="item-img">
                    <%= image_tag "https://api.dicebear.com/7.x/micah/jpg?seed=Dexter-Morgan" %>
                    <span class="acc-verified"><i class="icofont-check"></i></span>
                  </span>
                  <span class="media-body">
                    <span class="item-title">Dexter</span>
                  </span>
                </span>
              </button>
              <div class="dropdown-menu">
                <ul class="admin-options">
                  <li><a href="#">Profile Settings</a></li>
                  <li><a href="user-groups.html">Groups</a></li>
                  <li><a href="forums.html">Forums</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="login.html">Log Out</a></li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</header>
